.add-item-form{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 40%;
    padding: 2vh;;
    align-items: center ;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 90vh;
    }
}

.Enter-details{
    font-size: 5vh;
    margin-bottom: 4vh;
    font-family: Georgia, serif;
}