
.table-Body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    padding-bottom: 0px;;
    flex-wrap: nowrap;
}

.table-SubBody{
    display: flex;
    justify-content: space-between;
    padding: 0px 2vh;;
    margin-left: 5vh;
}

.popover-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.popover-content{
    width: 120%;
    height: 100%;
}