
.table-Body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    padding-bottom: 0px;;
}

.table-SubBody{
    display: flex;
    justify-content: space-between;
    padding: 0px 2vh;;
    margin-left: 5vh;
}



